.App {
display: flex;
flex-direction: row;
height:fit-content;
margin: 100px;
justify-content: center;


}

.container {
  display: flex;
  flex-direction: row;
  

}


.sedan {
  background-color: orange;
}

.suv {
  background-color: rgba(0, 0, 255, 0.692);
}

.luxury {
  background-color: rgba(0, 255, 191, 0.521);
}